.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: white !important;
  font-weight: 500;
}
.navbar-light .navbar-nav .nav-link {
  color: white !important;
}
.bg-image {
  background-image: linear-gradient(
      to right,
      rgba(211, 84, 0, 0.7),
      rgba(12, 33, 128, 0.445)
    ),
    url(./Images/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
}
.bg-image .main-div {
  padding: 12% 12% 18% 13%;
}
.bg-image h1 {
  font-family: Brush Script MT;
  font-size: 4rem;
}
.bg-image p {
  font-size: 12px;
  padding: 1% 32%;
}
.bg-image .btn {
  background: white;
  border-radius: 26px;
  color: black;
  font-weight: 500;
  font-size: 12px;
}
.hero-main {
  padding: 0% 17%;
  position: relative;
  bottom: 117px;
  text-align: center;
}
.hero-main p {
  font-size: 12px;
}
.hero-main .btn {
  background-image: linear-gradient(
    to right,
    rgba(211, 84, 0, 0.7),
    rgba(12, 33, 128, 0.7)
  );
  color: white;
  width: fit-content;
  border-radius: 19px;
  margin: auto;
  position: relative;
  top: 16px;
  font-size: 12px;
}
.Creative {
  padding: 0% 17%;
}
.Creative h1 {
  font-family: Brush Script MT;
  font-size: 3rem;
  font-weight: 600;
}
.Creative p {
  font-size: 13px;
  line-height: 21px;
}
.Creative .comma {
  position: relative;
  right: 59px;
  top: 21px;
}
.Creative .btn {
  background-image: linear-gradient(
    to right,
    rgba(211, 84, 0, 0.7),
    rgba(12, 33, 128, 0.7)
  );
  color: white;
  width: fit-content;
  border-radius: 19px;
  font-size: 12px;
}
.amaze {
  padding: 0% 17%;
}
.amaze img {
  width: 100%;
  height: 95%;
  border-radius: 13px;
}
.amaze h1 {
  font-family: Brush Script MT;
  font-size: 3rem;
  font-weight: 600;
}
.amaze p {
  font-size: 13px;
  line-height: 21px;
}
.amaze .btn {
  background-image: linear-gradient(
    to right,
    rgba(211, 84, 0, 0.7),
    rgba(12, 33, 128, 0.7)
  );
  color: white;
  width: fit-content;
  border-radius: 19px;
  font-size: 12px;
  margin: auto;
}
.amaze .amazing-feature {
  position: relative;
  bottom: 432px;
  left: 214px;
  background: white;
  border-radius: 12px;
}
.service {
  background: #f1eeee;
  margin-top: -15%;
}
.service .sub-col1 {
  padding: 5% 7% 1% 17%;
}
.service h1 {
  font-family: Brush Script MT;
  font-size: 4rem;
  line-height: 59px;
}
.service p {
  font-size: 13px;
  font-weight: 500;
}
.service .btn {
  background-image: linear-gradient(
    to right,
    rgba(211, 84, 0, 0.7),
    rgba(12, 33, 128, 0.7)
  );
  color: white;
  width: fit-content;
  border-radius: 19px;
  font-size: 12px;
}
.table-card{
  padding: 2% 1%;
  width: 16%;
  color: white;
  background-image: linear-gradient( to right, rgba(211, 84, 0, 0.7), rgba(12, 33, 128, 0.445) );
  position: relative;
    bottom: 351px;
    left: 696px;
}
.table-card td{
  border-bottom: 1px solid white;
  padding: 3% 2%;
}
.table-card .td1{
  border-right: 1px solid white;
}
.table-card .td2{
  border-bottom: 0px solid white;
}
.table-card span{
  font-size: 13px;
}
.perfect-team {
  margin: 0% 12%;
  padding: 0% 4% 3% 4%;
  background: linear-gradient(to bottom, #ffffff 48%, #f1f1f1 35%);
  border-radius: 5px;
  margin-top: -17%;
}
.perfect-team h1 {
  font-family: Brush Script MT;
  font-size: 4rem;
}
.perfect-team p {
  font-size: 13px;
}
.graphic {
  padding-left: 17%;
}
.graphic h1 {
  font-family: Brush Script MT;
  font-size: 4rem;
}
.graphic span {
  position: relative;
  bottom: 15px;
  font-weight: 600;
}
.graphic p {
  font-size: 13px;
}
.graphic .sub-col1 {
  padding-right: 6%;
}
.graphic .sub-col3 {
  background: linear-gradient(
    to bottom right,
    rgba(211, 84, 0, 0.7),
    rgba(12, 33, 128, 0.7)
  );
}
.graphic .progres-bar1 {
  background: linear-gradient(
    to right,
    rgba(211, 84, 0, 0.7),
    rgba(12, 33, 128, 0.7)
  );
  border-radius: 15px;
}
.graphic .label1 {
  font-weight: 500;
}
.graphic .paragraph {
  font-size: 13px;
  color: white;
}
.graphic .fa11 {
  padding: 4% 5% 4% 5%;
  border-radius: 50%;
  background: white;
}
.graphic .fa12 {
  padding: 4% 3% 4% 3%;
  border-radius: 50%;
  background: white;
}
.graphic .fa13 {
  padding: 4% 4% 4% 4%;
  border-radius: 50%;
  background: white;
}
.professional{
  margin-top: 6%;
}
.professional .sub-col1 {
  background: linear-gradient(
    to right,
    rgba(211, 84, 0, 0.7),
    rgba(12, 33, 128, 0.7)
  );
}
.professional .sub-col11 {
  margin: 17% 0% 17% 25%;
}
.professional .heading {
  font-family: Brush Script MT;
  font-size: 3rem;
  line-height: 59px;
}
.professional .heading1{
  font-size: 15px;
}
.professional .dollar {
  font-size: 35px;
  color: rgba(211, 84, 0, 0.7);
  font-weight: bolder;
}
.professional .number {
  font-size: 50px;
  font-weight: bolder;
  background: -webkit-linear-gradient(
    rgba(211, 84, 0, 0.7),
    rgba(12, 33, 128, 0.7)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-family: auto; */

}
.professional .dot {
  font-size: 73px;
  font-weight: bolder;
 color:rgba(12, 33, 128, 0.7);
}
.professional .number1 {
  font-size: 33px;
  font-weight: bolder;
  color:rgba(12, 33, 128, 0.7); 
  /* font-family: auto; */

}
.professional .paragraph1 {
  font-weight: 700;
}
.professional .paragraph11 {
  font-size: 13px;
  padding: 0 1rem 1rem 1rem;
}
.professional .heading3{
  letter-spacing: -1px;
  font-weight: 800;
  font-size: 1.9rem;
}
.professional .sub-col2 {
  background: linear-gradient(to right, #ffffff 1%, #f1f1f1 0%);
}
/* .professional ul li:before {
  content: "✓";
} */
.professional ul{
padding-left: 0%;
}
.professional ul li {
  list-style: none;
  line-height: 32px;
  display: inline-block;
}
.professional .fa-check{
  padding-right: 2%;
  font-size: 14px;
}
.professional .sub-col22 {
  background: linear-gradient(rgba(211, 84, 0, 0.7), rgba(12, 33, 128, 0.7));
}
.professional .sub-col22 {
  margin: 8% 0% 7% 0%;
  text-align: center;
}
.professional .btn1 {
  background: white;
  border-radius: 26px;
  color: black;
  font-weight: 500;
  font-size: 12px;
}
.professional .sub-col222 {
  padding: 9% 5%;
}
.professional .heading2 {
  font-family: Brush Script MT;
  font-size: 3rem;
  line-height: 36px;
}
.professional .p1 {
  font-size: 13px;
  font-weight: 600;
}
.get-in-touch {
  background-image: linear-gradient(
      to right,
      rgba(211, 84, 0, 0.7),
      rgba(12, 33, 128, 0.445)
    ),
    url(./Images/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.get-in-touch .heading {
  font-family: Brush Script MT;
  font-size: 3rem;
  text-align: center;
}
.get-in-touch .sub-col1 {
  padding: 6% 18%;
}
.get-in-touch .fa1 {
  padding: 2% 2% 2% 2%;
  border: 2px solid white;
  border-radius: 50%;
}
.get-in-touch .fa11 {
  padding: 2% 2.5% 2% 2.5%;
  border: 2px solid white;
  border-radius: 50%;
}
.footerr {
  padding: 3% 17%;
}
.footerr .img1 {
  width: 41px;
  height: 41px;
}
.footerr span {
  font-size: 14px;
}
.footerr .p11 {
  padding-left: 4%;
  font-weight: 400;
}
.footerr .p12 {
  font-weight: 400;
}
/*--------------------------------Media Queries---------------------------------------*/
@media (min-width: 1400px) {
  .amaze .amazing-feature {
    bottom: 561px;
    left: 303px;
  }
  .professional ul li {
    line-height: 28px;
  }
  .table-card{
    bottom: 403px;
    left: 998px;
  }
  .service{
        margin-top: -4%;
  }
  .perfect-team{
    margin-top: -12%;
  }
}
@media (max-width: 1400px) {
}
@media (max-width: 1100px) {
  .amaze .amazing-feature {
    bottom: 382px;
    left: 173px;
  }
  .professional ul li {
    line-height: 20px;
  }
  .table-card{
    left: 534px;
  }
  .perfect-team{
    margin-top: -23%;
  }
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .amaze .amazing-feature {
    bottom: 290px;
    left: 67px;
    width: 70%;
    height: 254px;
  }
  .perfect-team {
    background: linear-gradient(to bottom, #ffffff 63%, #f1f1f1 35%);
    }
  .table-card {
    width: 23%;
    bottom: 351px;
    left: 397px;
}
.perfect-team{
  margin-top: -27%;
}
}
@media (max-width: 576px) {
  .amaze .amazing-feature {
    position: unset;
  }
  .service {
    margin-top: 39% !important;
  }
  .perfect-team {
    background: linear-gradient(to bottom, #ffffff 24%, #f1f1f1 24%);
      margin-top: 5%;
  }
    .graphic {
    padding-left: 0%;
  }
  .get-in-touch .sub-col1 {
    padding: 6% 1% 6% 1%;
}
.table-card{
  position: unset;
  width: 100%;
}
.table-card table{
  width: 100%;
}
}
